h2{
    font-size: 24px;
    text-align: left;
    margin-top: 25px;
    font-weight: bold;
    position: relative;
}

body{
    font-family: Arial, sans-serif;
    margin: 25px;
    background-color: floralwhite;
}

p{
    text-align: left;
    width: 300px;
}
a{
    font-size: 12px;
    margin: 20px 30px;
    text-decoration: none;
    color: black;
}
.cart{
    position: absolute; /* Take the cart link out of the normal document flow */
    top: 0; /* Align to the top of the h2 element */
    right: 0;
}