h2.fixed{
    font-size: 24px;
    text-align: left;
    margin-top: 10px;
    font-weight: bold;
}

body{
    font-family: Arial, sans-serif;
    margin: 10px;
    background-color: floralwhite;
}

p{
    text-align: left;
    width: 300px;
}
a{
    margin-left: 50px;
    font-size: 10px;
    text-decoration: none;
    color: rgb(20, 19, 19);
}
.largelink{
    margin-left: 0px;
    font-size: 24px;
}